<fieldset>
    <legend>
        <span th:text="#{form_field1}">
        </span>
    </legend>
    <div th:each="labelLocales : *{field1Label.labelLocales}">
        <div class="form-group">
            <label>
                [[${labelLocales.key}]] :
                <th:block sec:authorize="!hasRole('ROLE_ADMIN') && !hasRole('ROLE_MANAGER')">                
                    <input class="form-control" th:name="'field1Label.labelLocales[' + ${labelLocales.key} + '].translation'" type="hidden" th:value="${labelLocales.value.translation}"/>
                </th:block>
                <th:block sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_MANAGER')">
                    <input class="form-control" th:name="'field1Label.labelLocales[' + ${labelLocales.key} + '].translation'" type="text" th:value="${labelLocales.value.translation}"/>
                </th:block>
            </label>
        </div>
    </div>
    <div class="form-group" sec:authorize="hasRole('ROLE_ADMIN')">
        <label class="c">
            <strong th:text="#{payevtmontant_field1DefaultValueFromUserAttr}"></strong>
            <input class="form-control" th:field="*{field1DefaultValueFromUserAttr}" type="text"/>
        </label>
        <span class="errors" th:errors="*{field1DefaultValueFromUserAttr}" th:if="${#fields.hasErrors('field1DefaultValueFromUserAttr')}">
    </div>
</fieldset>
<fieldset>
    <legend>
        <span th:text="#{form_field2}">
        </span>
    </legend>
    <div th:each="labelLocales : *{field2Label.labelLocales}">
        <div class="form-group">
            <label>
                [[${labelLocales.key}]] :
                <th:block sec:authorize="!hasRole('ROLE_ADMIN') && !hasRole('ROLE_MANAGER')">
                    <input class="form-control" th:name="'field2Label.labelLocales[' + ${labelLocales.key} + '].translation'" type="hidden" th:value="${labelLocales.value.translation}"/>
                </th:block>
                <th:block sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_MANAGER')">
                    <input class="form-control" th:name="'field2Label.labelLocales[' + ${labelLocales.key} + '].translation'" type="text" th:value="${labelLocales.value.translation}"/>
                </th:block>
            </label>
        </div>
    </div>
    <div class="form-group" sec:authorize="hasRole('ROLE_ADMIN')">
        <label class="c">
            <strong th:text="#{payevtmontant_field2DefaultValueFromUserAttr}"></strong>
            <input class="form-control" th:field="*{field2DefaultValueFromUserAttr}" type="text"/>
        </label>
        <span class="errors" th:errors="*{field2DefaultValueFromUserAttr}" th:if="${#fields.hasErrors('field2DefaultValueFromUserAttr')}">
    </div>
</fieldset>
<script>
    function handle_fieldDefaultValueFromUserAttr_visibility(authCasElt) {
      for (const elt of document.querySelectorAll("[name^=field][name$=DefaultValueFromUserAttr]")) {
          elt.classList.toggle('hide-form-group', !authCasElt.checked)
      }
    }
    window.addEventListener("load", _ => {
      const authCasElt = document.querySelector("[name=authCas]")
      handle_fieldDefaultValueFromUserAttr_visibility(authCasElt)
      authCasElt.addEventListener('change', _ => handle_fieldDefaultValueFromUserAttr_visibility(authCasElt))
    })
</script>
