<fieldset>
    <legend>
        <span th:text="#{form_field1}">
        </span>
    </legend>
    <div th:each="labelLocales : *{field1Label.labelLocales}">
        <div class="form-group">
            <label>
                [[${labelLocales.key}]] :
                <input class="form-control" th:name="'field1Label.labelLocales[' + ${labelLocales.key} + '].translation'" type="text" th:value="${labelLocales.value.translation}" th:readonly="${!isAdmin}"/>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="c">
            <strong th:text="#{payevtmontant_field1DefaultValueFromUserAttr}"></strong>
            <select class="form-control" name="field1DefaultValueFromUserAttr" th:readonly="${!isAdmin}">
                <th:block th:each="i :${defaultValueFromUserAttrList}">
                    <option th:selected="${i == payEvtMontant.field1DefaultValueFromUserAttr ? 'true' : 'false'}" th:text="#{payevtmontant_field1DefaultValueFromUserAttr_ + ${i}}" th:value="${i}">
                    </option>
                </th:block>
            </select>
        </label>
        <span class="errors" th:errors="*{field1DefaultValueFromUserAttr}" th:if="${#fields.hasErrors('field1DefaultValueFromUserAttr')}">
    </div>
</fieldset>
<fieldset>
    <legend>
        <span th:text="#{form_field2}">
        </span>
    </legend>
    <div th:each="labelLocales : *{field2Label.labelLocales}">
        <div class="form-group">
            <label>
                [[${labelLocales.key}]] :
                <input class="form-control" th:name="'field2Label.labelLocales[' + ${labelLocales.key} + '].translation'" type="text" th:value="${labelLocales.value.translation}" th:readonly="${!isAdmin}"/>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="c">
            <strong th:text="#{payevtmontant_field2DefaultValueFromUserAttr}"></strong>
            <select class="form-control" name="field2DefaultValueFromUserAttr" th:readonly="${!isAdmin}">
                <th:block th:each="i :${defaultValueFromUserAttrList}">
                    <option th:selected="${i == payEvtMontant.field2DefaultValueFromUserAttr ? 'true' : 'false'}" th:text="#{payevtmontant_field1DefaultValueFromUserAttr_ + ${i}}" th:value="${i}">
                    </option>
                </th:block>
            </select>
        </label>
        <span class="errors" th:errors="*{field2DefaultValueFromUserAttr}" th:if="${#fields.hasErrors('field2DefaultValueFromUserAttr')}"/>
    </div>
</fieldset>
<script>
    function handle_fieldDefaultValueFromUserAttr_visibility(authCasElt) {
      for (const elt of document.querySelectorAll("[name^=field][name$=DefaultValueFromUserAttr]")) {
          elt.classList.toggle('hide-form-group', !authCasElt.checked)
      }
    }
    window.addEventListener("load", _ => {
      const authCasElt = document.querySelector("[name=authCas]")
      handle_fieldDefaultValueFromUserAttr_visibility(authCasElt)
      authCasElt.addEventListener('change', _ => handle_fieldDefaultValueFromUserAttr_visibility(authCasElt))
    })
</script>
