<!DOCTYPE html>
<!--

    Licensed to ESUP-Portail under one or more contributor license
    agreements. See the NOTICE file distributed with this work for
    additional information regarding copyright ownership.

    ESUP-Portail licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file except in
    compliance with the License. You may obtain a copy of the License at:

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{../layouts/public.html}">
    <body>
        <!-- Main Content to be inserted into the layout's 'content' fragment -->
        <div layout:fragment="content">
                <div th:id="${'_title_' + title + '_id'}" class="jumbotron">
                    <th:block th:with="institute_href=${@propertyConfigurer.getProperty('institute.href')},
                                       institute_name=${@propertyConfigurer.getProperty('institute.name')}">
                        <h2>
                            <span th:text="#{home_msg1}"></span>
                        </h2>
                        <p>
                            <span th:text="#{home_msg2(${institute_name})}"></span>
                        <hr/>
                        <small><a th:href="${institute_href}" th:text="${institute_href}"></a></small>
                    </th:block>
                </div>
        </div>
    </body>
</html>
