<!DOCTYPE html>
<!DOCTYPE HTML>
<html lang="fr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:menu="urn:jsptagdir:/WEB-INF/tags/menu"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>
        Welcome
    </title>
</head>
<body>
<div th:fragment="navbar">
    <div class="navbar-default navbar-inverse navbar-fixed-top">
        <th:block th:with="logo_url=${@propertyConfigurer.getProperty('institute.logo-navbar.url')}">
            <div class="row">
                <div sec:authorize="isAuthenticated()">
                    <th:block
                            th:with="userName=${#authentication.principal.username}, actif=${active == 'su' ? 'su' : 'notsu'}">
                        <div th:replace="../fragments/menu :: menu(logoAppUrl=${logo_url}, appName=${app_name}, labelRightButton=#{pay_logout(${#authentication.principal.username})}, urlRightButton='/j_spring_cas_security_logout')">
                            <th:block th:fragment="content">
                                <th:block sec:authorize="hasAnyRole('ROLE_SU', 'ROLE_ALL_VIEWER', 'ROLE_MANAGER', 'ROLE_VIEWER')">
                                    <li th:class="${actif=='notsu'} ? 'active' : ''" id="home">
                                        <a href="/admin" th:title="#{pay_home}" th:text="#{pay_home}">
                                            H
                                        </a>
                                    </li>
                                </th:block>
                                <th:block sec:authorize="hasRole('ROLE_SU')">
                                        <li th:class="${actif=='su'} ? 'active' : ''" id="su">
                                            <a href="/admin/su" title="SU">
                                                SU
                                            </a>
                                        </li>
                                    </th:block>
                                </th:block>
                          </div>
                    </th:block>
                </div>
                <div sec:authorize="hasRole('ROLE_PREVIOUS_ADMINISTRATOR')">
                    <ul class="nav navbar-nav navbar-right supervisor-nav">
                        <li>
                            <span th:text="#{button_exit_su}">
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </th:block>
    </div>
</div>
<script>
    var logo = '[[@{${logo_url}}]]';
    var impersonatePath = '[[@{/logout/impersonate}]]';
</script>
</body>
</html>
