<!DOCTYPE HTML>
<!--

    Licensed to ESUP-Portail under one or more contributor license
    agreements. See the NOTICE file distributed with this work for
    additional information regarding copyright ownership.

    ESUP-Portail licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file except in
    compliance with the License. You may obtain a copy of the License at:

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<html lang="fr" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="menu">
        <ul class="nav nav-tabs">
            <th:block sec:authorize="hasRole('ROLE_ALL_VIEWER') or hasRole('ROLE_MANAGER') or hasRole('ROLE_VIEWER')">
                <li th:class="${activeMenu == 'adminevts' || activeMenu == 'adminevtmnts' ? 'active' : ''}">
                    <a th:href="@{/admin/evts(page=0, size=${param.size == null || param.size == '' ? 10 : param.size})}" th:text="#{pay_evts}">
                    </a>
                </li>
            </th:block>
            <th:block sec:authorize="hasRole('ROLE_ALL_VIEWER')">
                <li th:class="${activeMenu == 'adminfees' ? 'active' : ''}">
                    <a th:href="@{/admin/fees(page=0, size=${param.size == null || param.size == '' ? 10 : param.size})}" th:text="#{pay_transactions}">
                    </a>
                </li>
            </th:block>
            <th:block sec:authorize="hasRole('ROLE_STAT')">
                <li th:class="${activeMenu == 'adminstats' ? 'active' : ''}">
                    <a th:href="@{/admin/stats}" th:text="#{pay_statistics}">
                    </a>
                </li>
            </th:block>
            <th:block sec:authorize="hasRole('ROLE_VENTILATION')">
                <li th:class="${activeMenu == 'adminventilations' ? 'active' : ''}">
                    <a th:href="@{/admin/ventilations}" th:text="#{menu_ventilations}">
                    </a>
                </li>
            </th:block>
        </ul>
        <ul class="breadcrumb bread-primary">
            <th:block th:if="${payEvt != null || payEvtMontant != null}">
                <li>
                    <a th:href="@{/admin/evts(page=0, size=${param.size == null || param.size == '' ? 10 : param.size})}" th:text="#{menu_evts}">
                    </a>
                </li>
            </th:block>
            <th:block th:if="${payEvt != null && payEvt.id != null}">
                <li>
                    <a th:href="@{/admin/evts/{id}(id=${payEvt.id})}" th:text="${payEvt?.title?.labelLocales['fr'].translation}">
                    </a>
                </li>
            </th:block>
            <th:block th:if="${payEvtMontant != null}">
                <li>
                    <a th:href="@{/admin/evts/{id}(id=${payEvtMontant.evt.id})}" th:text="${payEvtMontant?.evt?.title?.labelLocales['fr'].translation}">
                    </a>
                </li>
                <li>
                   <span
                    th:text="${payEvtMontant.title.labelLocales['fr'].translation}">
                   </span>
                </li>
            </th:block>
            <th:block sec:authorize="hasRole('ROLE_ALL_VIEWER')">
                <th:block th:if="${paytransactionlogs != null || paytransactionlog != null}">
                    <li>
                        <a th:href="@{/admin/fees(page=0, size=${param.size == null || param.size == '' ? 10 : param.size})}"  th:text="#{menu_txs}">
                        </a>
                    </li>
                </th:block>
                <th:block th:if="${paytransactionlog != null}" >
                    <li th:text="${paytransactionlog.idtrans}">
                    </li>
                </th:block>
            </th:block>
        </ul>
</div>
</html>
