<!DOCTYPE html>
<!--

    Licensed to ESUP-Portail under one or more contributor license
    agreements. See the NOTICE file distributed with this work for
    additional information regarding copyright ownership.

    ESUP-Portail licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file except in
    compliance with the License. You may obtain a copy of the License at:

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<html lang="fr"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navbar">
    <div class="navbar-default navbar-inverse navbar-fixed-top">
        <th:block th:with="logo_url=${@propertyConfigurer.getProperty('institute.logo-navbar.url')}">
            <div class="row">
                <th:block sec:authorize="isAuthenticated()">
                    <th:block
                            th:with="userName=${#authentication.principal.username}, actif=${active == 'su' ? 'su' : 'notsu'}">
                        <div th:replace="~{../fragments/menu_nav :: menu(logoAppUrl=${logo_url}, appName=${app_name}, labelRightButton=#{pay_logout(${#authentication.principal.username})}, urlRightButton='/j_spring_cas_security_logout', iconRightButton='off')}">
                            <th:block th:fragment="content">
                                <th:block sec:authorize="hasAnyRole('ROLE_SU', 'ROLE_ALL_VIEWER', 'ROLE_MANAGER', 'ROLE_VIEWER')">
                                    <li th:class="${actif=='notsu'} ? 'active' : ''" id="home">
                                        <a href="/admin" th:title="#{pay_home}" th:text="#{pay_home}"></a>
                                    </li>
                                </th:block>
                                <th:block sec:authorize="hasRole('ROLE_SU')">
                                    <li th:class="${actif=='su'} ? 'active' : ''" id="su">
                                        <a href="/admin/su" title="SU">SU</a>
                                    </li>
                                </th:block>
                            </th:block>
                        </div>
                    </th:block>
                </th:block>
                <th:block sec:authorize="hasRole('ROLE_PREVIOUS_ADMINISTRATOR')">
                    <ul class="nav navbar-nav navbar-right supervisor-nav">
                        <li>
                            <form class="form-horizontal" th:action="@{/logout/impersonate}" method="POST">
                                <input type="submit" class="btn btn-warning" th:value="#{button_exit_su}">
                            </form>
                        </li>
                    </ul>
                </th:block>
            </div>
        </th:block>
    </div>
    <script>
        var logo = '[[@{${logo_url}}]]';
        var impersonatePath = '[[@{/logout/impersonate}]]';
    </script>
</div>
</html>